# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.My.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\uxost\RiderProjects\My\.idea\.idea.My\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
